
<h1>Books In Space</h1>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button warning"  %>
<%= link_to 'Sign in', new_user_session_path, class: "button success" %>

<% if current_user %>
  <%= link_to 'Profile', user_path(current_user), class: "button info" %>
<% end -%>

<h1>All Book Listings:</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <% @books.each do |b| %>
    <tr>
      <td><%= b.user.email %></td>
      <td> <%= link_to b.title, book_path(b) %></td>
      <td><%= b.description %></td>
      <td><%= b.URL %></td>
    </tr>
  <% end -%>
</table>

