<h1>This Book:</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Review</th>
  </tr>
  <tr>
    <td> <%= @book.title %></td>
    <td> <%= @book.description %></td>
    <td> <%= @book.URL %></td>
  </tr>
</table>

<%= form_for [@book, @review] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Review book", class: "button tiny success" %>
<% end -%>
