<h1><%= @book.title %></h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <tr>
    <td> <%= @book.title %></td>
    <td> <%= @book.description %></td>
    <td> <%= @book.URL %></td>
  </tr>
</table>

<%= link_to 'Write Review', new_book_review_path(@book)  %>

<h2>Reviews: </h2>

<ul>
<% @reviews.each do |review| %>
  <li> <%= review.description %> </li>
<% end -%>
</ul>
